@layer initial-rendering {
  body {
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  header {
    background: no-repeat center/cover url(/images/hamburger.jpg);
    color: #ffffff;
    padding: 2.8rem;
  }

  /* Menu section */

  #menu {
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 2rem;
  }

  .menu-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .item-image {
    font-size: 3rem;
  }

  .add-item-button {
    font-size: 2rem;
    block-size: 1em;
    inline-size: 1em;
    border-radius: 50%;
    border: 1px solid #dedede;
    position: relative;
    justify-self: end;
    flex-shrink: 0;
  }

  .add-item-button-icon {
    font-size: 0.7em;
    position: absolute;
    inset: 0;
    margin: auto;
  }

  #check-order-button {
    position: fixed;
    inset-block-end: 0;
    inset-inline: 0;
    border: none;
    background: #16db99;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* Order section */

  :modal {
    max-block-size: unset;
    max-inline-size: unset;
  }

  ::backdrop {
    background: #00000080;
  }

  #order-modal {
    margin-block-start: auto;
    inline-size: 100%;
    text-align: center;
    padding: 2.8rem;
    background: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
  }

  #order-modal table {
    inline-size: 100%;
    border-collapse: collapse;
    margin-block-end: 1rem;
  }

  td {
    padding-block: 0.3rem;
  }

  tr :nth-child(1) {
    text-align: left;
  }

  tr :nth-child(2) {
    text-align: right;
  }

  tfoot {
    border-block-start: 1px solid #000000;
  }

  #complete-order-btn {
    background: #16db99;
    color: #ffffff;
    border: none;
    inline-size: 100%;
    padding-block: 1rem;
    cursor: pointer;
  }

  .close-btn {
    position: absolute;
    box-sizing: content-box;
    font-size: 2rem;
    block-size: 1em;
    inline-size: 1em;
    background: #ffffff00;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .close-btn > .close-icon {
    position: absolute;
    inset: 0;
  }

  #close-order-btn {
    inset: 1rem 1rem auto auto;
  }

  #payment-modal {
    margin: auto;
    border: none;
    border-radius: 3px;
    padding: 1.5rem;
    inline-size: 80vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }

  #card-details-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #card-details-form fieldset {
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* Remove number input spinners */

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  #card-details-form input {
    padding: 1rem;
    border: 1px solid #757575;
    inline-size: 100%;
  }

  #card-details-form input::placeholder {
    color: #757575;
  }

  #pay-button {
    background: #16db99;
    color: #ffffff;
    border: none;
    inline-size: 100%;
    padding-block: 1rem;
    cursor: pointer;
    font-weight: bold;
  }

  #close-payment-btn {
    inset: 0.1rem 0.1rem auto auto;
  }
}

@layer post-initial-rendering {
  .blur {
    filter: blur(5px);
  }
}
